<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Basico -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metadata -->
    
    <title>ITS Hytera</title>

    <!-- Meta Redes -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:description" content="">
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta property="og:image:secure_url" content=""/>

    <!-- Stylesheets-->

    <!-- Para normalizar -->
    <!-- LOGO -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!-- Normalizacion -->
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" >
    <!-- Para fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Para íconos -->
    <link href="../rcs/style.css" rel="stylesheet">
    <!-- Principal -->
    <script src="../script/scripts.js"></script>

</head>
<body>
    <header> 

    </header>

    <footer> 

    </footer>
</body>
</html>