<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basico -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metadata -->
    
    <title>ITS Hytera</title>

    <!-- Meta Redes -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:description" content="">
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta property="og:image:secure_url" content=""/>

    <!-- Stylesheets-->

    <!-- Para normalizar -->
    <!-- LOGO -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!-- Normalizacion -->
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" >
    <!-- Para fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Para íconos -->
    <link href="../rcs/style.css" rel="stylesheet">
    <!-- Principal -->
    <script src="../script/scripts.js"></script>

</head>
<body>
    
    <header>
        <h1 class="titulo">ITS_Hytera</h1>
    </header>

    <div class="nav-bg">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
          </svg>
        <nav class="navegacion-principal contenedor"> 
            <a href="index.html">Inicio</a> 
            <a href="contact.html">Contacto</a> 
            <a href="about.html">Nosotros</a> 
        </nav>
    </div>

    <footer>
        
    </footer>


</body>
</html>